<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Please rate our service</title>
</head>
<body>
    <div class="container">
        <video src="../static/video.mp4" autoplay muted ></video>
        <img src="../static/logo.jpg" alt="logo">
        {% if message %}
            <p class="message">{{ message | safe }}</p>
        {% endif %}
        <form action="/submit" method="POST">
            <h2>Please rate our service</h2>
            <div class="form-group">
                <h3>Customer Name</h3>
                <input 
                    type="text"
                    name="customer"
                    placeholder="Name of the vehicle owner"
                />
            </div>
            <div class="form-group">
                <h3>Dealer</h3>
                <select name="dealer">
                    <option value="">Select Dealer</option>
                    <option value="Parthib">Parthib</option>
                    <option value="Noah">Noah</option>
                    <option value="Liam">Liam</option>
                    <option value="Oliver">Oliver</option>
                </select>
            </div>
            <div class="form-group">
                <h3>Please rate your dealer</h3>
                <input type="radio" name="rating" value="1">1
                <input type="radio" name="rating" value="2">2
                <input type="radio" name="rating" value="3">3
                <input type="radio" name="rating" value="4">4
                <input type="radio" name="rating" value="5">5
                <input type="radio" name="rating" value="6">6
                <input type="radio" name="rating" value="7">7
                <input type="radio" name="rating" value="8">8
                <input type="radio" name="rating" value="9">9
                <input type="radio" name="rating" value="10" checked>10
            </div>
            <div class="formgroup">
                <h3>Comment about your experience</h3>
                <textarea name="comments" cols="30" rows="10" placeholder="Tell us what you liked and/or did not like"></textarea>
            </div>
            <button type="submit" class="btn">Submit</button>   
        </form>
    </div>          
</body>
</html>